body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    color: #0E4D64;
    margin: 0;
    padding: 0;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .container {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.title {
    color: #fff;
}

.error {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #333;
    color: #fff;
}

.add-btn {
    background: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list-title {
    color: #00bcd4;
    margin-top: 20px;
}

.entity-container {
    background: #252525;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.entity-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.entity-text {
    color: #ddd;
}

.edit-input {
    padding: 8px;
    margin-right: 5px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

.edit-btn, .delete-btn, .save-btn, .cancel-btn {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn { background: #2196f3; color: white; }
.delete-btn { background: #e53935; color: white; }
.save-btn { background: #4caf50; color: white; }
.cancel-btn { background: #777; color: white; }
