body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    color: #0E4D64;
    margin: 0;
    padding: 0;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  